<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Publish</title>

    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon.png">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/js.cookie.js"></script>
    <script src="/js/common.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            let searchParams = new URLSearchParams(location.search);

            $('.top-title h4 a').on('click', function(){
                window.location.href = searchParams.get('rootUrl');
            })
            $('.top-title h4 a').text('Search Result ( ' + searchParams.get('rootUrl') + ' )');
            
            $('#txtSearch').val('<%= searchText %>');
            $('#txtSearch').on('keyup', function (e) {
                if (e.keyCode === 13) { // Enter
                    window.location.href = '/__file/search?searchText=' + this.value + '&rootUrl=' + searchParams.get('rootUrl');
                }
            })
        })
    </script>
</head>

<body>

    <div class="top-title">
        <h4><a></a></h4>
    </div>
    <div class="condition-area">
        <div class="condition-area-wrap">
            <div class="search-filter">
                <input type="text" id="txtSearch" placeholder="Search Text">
                <!-- <button onclick="window.history.back();"></button> -->
            </div>
        </div>
    </div>

    <div class="publish">
        <% if(fileArr && fileArr.length > 0) { %>
        <table class="file-table">
            <colgroup>
                <col style="width:30px;" />
                <col style="width:auto;" />
                <col style="width:80px;" />
                <col style="width:145px;" />
                <col style="width:30px;" />
            </colgroup>
            <tbody>
                <% for(var i=0; i < fileArr.length ; i++) { %>
                <tr class="files">
                    <td class="thumb"
                        onclick="moveTo('<%= (fileArr[i].path ==='/' ? '' : fileArr[i].path) + "/" + fileArr[i].fileName %>', true)">
                        <% if(fileArr[i].isImage){ %>
                        <div
                            style="background-image: url('<%= (fileArr[i].path ==='/' ? '' : fileArr[i].path) + "/" + fileArr[i].fileName %>')">
                        </div>
                        <% } else { %>
                        <img src="/images/<%= fileArr[i].icon %>.svg">
                        <% } %>
                    </td>
                    <td class="file-name"
                        onclick="moveTo('<%= (fileArr[i].path ==='/' ? '' : fileArr[i].path) + "/" + fileArr[i].fileName %>', true)">
                        <a href="<%= (fileArr[i].path ==='/' ? '' : fileArr[i].path) + '/' + fileArr[i].fileName %>">
                            <%= (fileArr[i].path ==='/' ? '' : fileArr[i].path) + "/" + fileArr[i].fileName %>
                            <img src="/images/new.svg" width="12px"
                                class="<%= fileArr[i].isRecentCreated ? '' : 'hide' %>">
                            <img src="/images/updated.svg" width="12px"
                                class="<%= fileArr[i].isRecentUpdated ? '' : 'hide' %>">
                        </a>
                    </td>
                    <td class="file-size"><%= fileArr[i].size %></td>
                    <td class="date"><%= fileArr[i].mDate %></td>
                    <td class="copy" title="copy to clipboard"
                        onclick="copyToClip('<%= (fileArr[i].path ==='/' ? '' : fileArr[i].path) + "/" + fileArr[i].fileName %>', this)">
                    </td>
                </tr>
                <% } %>

            </tbody>
        </table>
        <% } %>
        <% if(!fileArr || fileArr.length === 0) { %>
        <div class="no-search-result">No Result</div>
        <% } %>
    </div>

</body>

</html>