@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 400; src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Regular-Hestia.woff) format("woff"), url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format("opentype"); }

@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 500; src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Medium-Hestia.woff) format("woff"), url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Medium-Hestia.otf) format("opentype"); }

@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 700; src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Bold-Hestia.woff) format("woff"), url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format("opentype"); }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, button, select, input, textarea { font-family: "Noto Sans Korean", sans-serif; }

table { width: 100%; border-collapse: collapse; }

a { text-decoration: none; color: #000; font-weight: 400; }

.t-center { text-align: center !important; }

.t-right { text-align: right !important; }

.hide { display: none; }

.body-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100vh; }

.top-title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 40px; background: -webkit-gradient(linear, left top, right top, from(#689fd7), color-stop(25%, #8cd2da), color-stop(50%, #56bd97), to(#4ab77c)); background: linear-gradient(to right, #689fd7, #8cd2da 25%, #56bd97 50%, #4ab77c); border-bottom: 1px solid #ddd; padding: 10px 10px; z-index: 1; }

.top-title h4 { width: 100%; text-align: center; }

.top-title h4 a { font-size: 15px; font-weight: normal; font-weight: 500; color: #fff; cursor: pointer; }

.top-title > label { font-size: 15px; font-weight: 500; color: #fff; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }

.top-title > label a { color: inherit; font-weight: inherit; }

.top-title > span { font-size: 14px; font-weight: 400; color: #fff; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); vertical-align: 2px; margin-left: 10px; }

.condition-area { width: 100%; height: 30px; background-color: #fff; -webkit-box-shadow: 0px 0px 10px -2px #aaa; box-shadow: 0px 0px 10px -2px #aaa; z-index: 1; }

.condition-area input, .condition-area select { border: 0; }

.condition-area .condition-area-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; width: 800px; height: 100%; margin: 0 auto; }

.condition-area .condition-area-wrap > * { border-right: 1px solid #eaeaea; }

.condition-area .condition-area-wrap > *:first-child { border-left: 1px solid #eaeaea; }

.condition-area .condition-area-wrap .search-filter { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; }

.condition-area .condition-area-wrap .search-filter input { width: 100%; height: 100%; }

.condition-area .condition-area-wrap .search-filter button { position: absolute; top: 6px; right: 6px; width: 18px; height: 18px; border-radius: 100%; background: #eee url(/images/x.svg) no-repeat center center; background-size: 8px; border: 0; -webkit-transition: all .3s; transition: all .3s; outline: none; cursor: pointer; }

.condition-area .condition-area-wrap .search-filter button:hover { background-color: #ccc; }

.condition-area input[type="text"] { height: 100%; font-size: 14px; padding: 0 12px; }

.condition-area input[type="text"]::-webkit-input-placeholder { color: #ccc !important; font-weight: 400; }

.condition-area input[type="text"]:-ms-input-placeholder { color: #ccc !important; font-weight: 400; }

.condition-area input[type="text"]::-ms-input-placeholder { color: #ccc !important; font-weight: 400; }

.condition-area input[type="text"]::placeholder { color: #ccc !important; font-weight: 400; }

.condition-area input[type="text"]:-ms-input-placeholder { color: #ccc !important; font-weight: 400; }

.condition-area select { border: 0; height: 100%; font-size: 14px; padding: 0 8px; }

.condition-area .btn-upload { width: 30px; height: 30px; border: 0; border-right: 1px solid #eaeaea; outline: none; background: #fff url(/images/upload.svg) no-repeat center center; background-size: 60%; cursor: pointer; }

.condition-area .btn-newfolder { width: 30px; height: 30px; border: 0; border-right: 1px solid #eaeaea; outline: none; background: #fff url(/images/newfolder.svg) no-repeat center center; background-size: 70%; cursor: pointer; }

.condition-area #submitUpload { display: none; }

.condition-area #uploadFile { display: none; }

.condition-area .upload-progress { display: none; position: absolute; bottom: -4px; left: 0; right: 0; height: 4px; background: -webkit-gradient(linear, left top, right top, from(#689fd7), color-stop(25%, #8cd2da), color-stop(50%, #56bd97), to(#4ab77c)); background: linear-gradient(to right, #689fd7, #8cd2da 25%, #56bd97 50%, #4ab77c); -webkit-transition: all .3s; transition: all .3s; }

.condition-area .upload-progress.active { display: block; }

.file-contents { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-height: 0; overflow: auto; width: 100%; }

.file-table { display: block; width: 800px; margin: 0 auto; }

.file-table tbody { display: block; }

.file-table tr { display: -webkit-box; display: -ms-flexbox; display: flex; min-height: 40px; }

.file-table tr td { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 40px; padding: 7px 10px; font-size: 14px; border-bottom: 1px solid #eee; }

.file-table tr td:first-child { padding-left: 3px; text-align: left; }

.file-table tr td:first-child img { width: 24px; height: 24px; }

.file-table tr td:nth-child(2) img { width: 12px; height: 12px; }

.file-table tr td:last-child:not(.admin-options) { padding-right: 3px; }

.file-table tr td.copy { width: 30px; background: url(/images/copy.svg) no-repeat center center; background-size: 20px; }

.file-table tr td.copy.copied { background-image: url(/images/copied.svg); }

.file-table tr td.admin-options { padding-left: 0; padding-right: 0; }

.file-table tr td.admin-options .button-list { display: inline-block; position: relative; width: 20px; height: 20px; }

.file-table tr td.admin-options button { width: 20px; height: 20px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; outline: none; background: url(/images/menu.svg) no-repeat center center; background-size: 12px; cursor: pointer; }

.file-table tr td.admin-options ul { display: none; position: absolute; top: calc(100% + 5px); right: 0; z-index: 1; background: #999; white-space: nowrap; background: #fff; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }

.file-table tr td.admin-options ul.active { display: inline-block; }

.file-table tr td.admin-options ul li { list-style: none; font-size: 12px; padding: 3px 8px; }

.file-table tr td.admin-options ul li:hover { background: #ddd; }

.file-table tr:hover td { background-color: #f6f6f6; }

.file-table tr.folders { cursor: pointer; }

.file-table tr.folders td:first-child { text-align: center; }

.file-table tr.folders td:first-child img { vertical-align: -3px; }

.file-table tr.folders td.file-name { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 15px; font-weight: 500; color: #333; padding-left: 0; word-break: break-all; }

.file-table tr.folders.prev-folder { letter-spacing: 2px; }

.file-table tr.folders td.date { font-size: 12px; text-align: right; }

.file-table tr.files { cursor: pointer; }

.file-table tr.files td { font-size: 13px; }

.file-table tr.files td.thumb { padding: 5px 10px 5px 3px; }

.file-table tr.files td.thumb > div { width: 36px; height: 36px; background-repeat: no-repeat; background-position: center center; background-size: contain; background-color: rgba(0, 0, 0, 0.03); }

.file-table tr.files td.file-name { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; line-height: 16px; padding-left: 0; word-break: break-all; }

.file-table tr.files td.file-name img { vertical-align: -1px; }

.file-table tr.files td.file-name.last-page a { color: #006ff1; }

.file-table tr.files td.file-size { text-align: right; font-size: 12px; }

.file-table tr.files td.date { font-size: 12px; text-align: right; }

.refresh { display: none; }

.p-login { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100vw; height: 100vh; background: -webkit-gradient(linear, left top, right top, from(#689fd7), color-stop(25%, #8cd2da), color-stop(50%, #56bd97), to(#51c586)); background: linear-gradient(to right, #689fd7, #8cd2da 25%, #56bd97 50%, #51c586); }

.p-login .box input { width: 200px; height: 30px; border: 0; background-color: #fff; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); text-align: center; }

@media (max-width: 767px) { .top-title { min-height: 40px; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 12px; }
  .top-title label { display: none; }
  .top-title .path { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; display: block; width: 100%; margin-left: 0; line-height: 1.2; font-weight: 700; }
  .top-title .refresh { display: inline; }
  .file-contents { width: 100%; padding: 10px 5px 200px 5px; }
  .file-table { width: 100%; }
  .file-table td.date, .file-table td.file-size { display: none; }
  .file-table tr td { font-size: 12px !important; }
  .file-table tr td:first-child img { width: 20px; height: 20px; }
  .file-table tr td:nth-child(2) img { width: 12px; height: 12px; }
  .sort-area { padding: 8px 0; }
  .condition-area { height: auto; }
  .condition-area .condition-area-wrap { width: 100%; padding: 0; }
  .condition-area .condition-area-wrap .search-filter input { font-size: 12px; }
  .condition-area .condition-area-wrap select { font-size: 12px; } }
