// @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap');
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-nanum: 'Nanum Gothic', sans-serif;
$font-noto: 'Noto Sans Korean', sans-serif;

html,
body,
button,
select,
input,
textarea {
    font-family: $font-noto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.t-center {
    text-align: center !important
}

.t-right {
    text-align: right !important
}

.hide {
    display: none;
}

.top-title {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #689fd7, #8cd2da 25%, #56bd97 50%, #4ab77c);
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    z-index: 1;

    h4{
        width: 100%;
        text-align: center;;
        a{
            font-size: 15px;
            font-weight: normal;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
        }
    }

    >label {
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .15);

        a {
            color: inherit;
            font-weight: inherit;
        }
    }

    >span {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
        vertical-align: 2px;
        margin-left: 10px;
    }
}

$body-width: 800px;

.condition-area {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px -2px #aaa;
    z-index: 1;
    
    input,
    select {
        border: 0;
    }

    .wrap {
        display: flex;
        justify-content: flex-end;
        ;

        width: $body-width;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;

        >* {
            border-right: 1px solid #eaeaea;
        }

        >*:first-child {
            border-left: 1px solid #eaeaea;
        }

        .search-filter {
            flex: 1;
            min-width: 0;

            display: flex;
            position: relative;

            input {
                width: 100%;
                height: 100%;
            }

            button {
                position: absolute;
                top: 6px;
                right: 6px;
                width: 18px;
                height: 18px;
                border-radius: 100%;
                background: #eee url(/images/x.svg) no-repeat center center;
                background-size: 8px;
                border: 0;
                transition: all .3s;;
                outline: none;
                cursor: pointer;
                &:hover{
                    background-color: #ccc;
                }
            }
        }
    }

    input[type="text"] {
        height: 100%;
        font-size: 14px;
        padding: 0 12px;

        &::placeholder {
            color: #ccc !important;
            font-weight: 400;
        }

        &:-ms-input-placeholder {
            color: #ccc !important;
            font-weight: 400;
        }
    }

    select {
        border: 0;
        height: 100%;
        font-size: 14px;
        padding: 0 8px;
    }

    .btn-upload{
        width: 30px;
        height: 30px;
        border: 0;
        border-right: 1px solid #eaeaea;
        outline: none;
        background: #fff url(/images/upload.svg) no-repeat center center;
        background-size: 60%;
        cursor: pointer;
    }
    .btn-newfolder{
        width: 30px;
        height: 30px;
        border: 0;
        border-right: 1px solid #eaeaea;
        outline: none;
        background: #fff url(/images/newfolder.svg) no-repeat center center;
        background-size: 70%;
        cursor: pointer;
    }
    #submitUpload{
        display: none;
    }

    #uploadFile{
        display: none;
    }

    .upload-progress{
        display: none;
        position: absolute;
        bottom: -4px;
        left:0;
        right: 0;
        height: 4px;
        background: linear-gradient(to right, #689fd7, #8cd2da 25%, #56bd97 50%, #4ab77c);
        transition: all .3s;
        &.active{
            display: block;
        }
    }
}


.publish {
    width: $body-width;
    padding: 10px 20px 200px 20px;
    margin: 0 auto;
    margin-top: 70px;
}


$td-height: 40px;

.file-table {
    display: block;

    tbody {
        display: block;
    }

    tr {
        display: flex;
        min-height: $td-height;
    }

    tr td {
        display: flex;
        align-items: center;
        min-height: $td-height;
        padding: 7px 10px;
        font-size: 14px;
        border-bottom: 1px solid #eee;

        &:first-child {
            padding-left: 3px;
            text-align: left;

            img {
                width: 24px;
                height: 24px;
            }
        }

        &:nth-child(2) {
            img {
                width: 12px;
                height: 12px;
            }
        }

        &:last-child:not(.admin-options) {
            padding-right: 3px;
        }

        &.copy {
            width: 30px;
            background: url(/images/copy.svg) no-repeat center center;
            background-size: 20px;

            &.copied {
                background-image: url(/images/copied.svg);
            }
        }
        &.admin-options{
            padding-left: 0;
            padding-right: 0;
            .button-list{
                display: inline-block;
                position: relative;
                width: 20px;
                height :20px;
            }
            button{
                width: 20px;
                height: 20px;
                appearance: none;
                border:0;
                outline: none;
                background: url(/images/menu.svg) no-repeat center center;
                background-size: 12px;
                cursor: pointer;
            }
            ul{
                display: none;
                position: absolute;
                top: calc(100% + 5px);
                right: 0;
                z-index: 1;
                background: #999;
                white-space: nowrap;
                background: #fff;
                box-shadow: 0 3px 6px rgba(0,0,0,.3);
                &.active{
                    display: inline-block;
                }
                li{
                    list-style: none;
                    font-size: 12px;
                    padding: 3px 8px;
                    &:hover{
                        background: #ddd;
                    }
                }
            }
        }

    }

    tr:hover {
        td {
            background-color: #f6f6f6;
        }
    }

    tr.folders {
        cursor: pointer;

        td:first-child {
            text-align: center;

            img {
                vertical-align: -3px;
            }
        }

        td.file-name {
            flex: 1;
            font-size: 15px;
            font-weight: 500;
            color: #333;
            padding-left: 0;
        }

        &.prev-folder {
            letter-spacing: 2px;
        }

        td.date {
            font-size: 12px;
            text-align: right;
        }
    }

    tr.files {
        cursor: pointer;

        td {
            font-size: 13px;

        }

        td.thumb {
            padding: 5px 10px 5px 3px;

            >div {
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                background-color: rgba(0, 0, 0, .03);
            }
        }

        td.file-name {
            flex: 1;
            line-height: 16px;
            padding-left: 0;
            word-break: break-all;

            img {
                vertical-align: -1px;
            }
        }

        td.file-name.last-page a {
            color: #006ff1;
        }

        td.file-size {
            text-align: right;
            font-size: 12px;
        }

        td.date {
            font-size: 12px;
            text-align: right;
        }
    }

}

.refresh {
    display: none;
}


.p-login {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #689fd7, #8cd2da 25%, #56bd97 50%, #51c586);

    .box input {
        width: 200px;
        height: 30px;
        border: 0;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
        text-align: center;
        ;
    }
}



@media (max-width: 767px) {

    .top-title {
        min-height: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 12px;
        
        label {
            display: none;
        }

        .path {
            flex: 1;
            min-width: 0;

            display: block;
            width: 100%;
            margin-left: 0;
            line-height: 1.2;
            font-weight: 700;;
        }

        .refresh {
            // position: absolute;
            // top: 24px;
            // right: 20px;
            display: inline;
        }
    }
    .publish {
        width: 100%;
        padding: 10px 5px 200px 5px;
        margin-top: 70px;

        tr td {

            &:first-child {
                img {
                    width: 20px;
                    height: 20px;
                }
            }

            &:nth-child(2) {
                img {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .file-table {

        td.date,
        td.file-size {
            display: none;
        }

        tr td {
            font-size: 12px !important;

            &:first-child {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .sort-area {
        padding: 8px 0;
    }

    .condition-area{
        
        .wrap{
            width: 100%;
            padding: 0;    
            .search-filter input{
                font-size: 12px;
            }

            select{
                font-size: 12px;
            }
        }
    }

}