@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Nanum Gothic", sans-serif;
}

table {
	width: 100%;
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: 400;
}

.t-center {
	text-align: center !important;
}

.t-right {
	text-align: right !important;
}

.publish-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	font-weight: bold;
	font-family: sans-serif;
	color: #666;
	border-bottom: 1px solid #ddd;
	padding: 10px 10px;
	box-shadow: 0px 0px 10px -2px #cecece;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}

.publish-title span {
	font-size: 14px;
	font-weight: 400;
	color: #555;
	vertical-align: 2px;
	margin-left: 10px;
}

.publish {
	width: 800px;
	padding: 10px 20px 50px 20px;
	margin: 0 auto;
	margin-top: 45px;
}

.file-table tr td {
	padding: 5px 10px;
	font-size: 14px;
	border-bottom: 1px solid #eee;
}

.file-table tr td a.prev-folder {
	display: inline-block;
	width: 50px;
	letter-spacing: 2px;
}

.file-table tr td.date {
	text-align: right;
}

.file-table tr td.file-name.last-page a {
	color: #1a64ba;
	font-weight: bold;
}

.file-table tr.recent td.file-name:after {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: #ed654d;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.file-table tr:hover td {
	background-color: #f6f6f6;
}

.file-table tr.folders {
	cursor: pointer;
}

.file-table tr.folders td.icon {
	text-align: center;
}

.file-table tr.folders td.icon img {
	vertical-align: -3px;
}

.file-table tr.folders td.link-folder {
	font-size: 14px;
}

.file-table tr.folders td.link-folder a {
	display: inline-block;
	min-width: 80px;
	font-weight: bold;
	text-decoration: none;
	color: #666;
}

.file-table tr.files {
	cursor: pointer;
}

.file-table tr.files td {
	font-size: 13px;
}

.file-table tr.files td.file-size {
	text-align: right;
	font-size: 12px;
}

.file-table tr td:first-child {
	padding-left: 0;
}

.file-table tr td:last-child {
	padding-right: 0;
}

@media (max-width: 767px) {
	.publish-title {
		justify-content: flex-start;
		padding: 15px 10px;
	}
	.publish {
		width: 100%;
	}
	.file-table tr td {
		padding: 5px 10px;
	}
	.file-table td.date,
	.file-table td.file-size {
		display: none;
	}
}
