@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{margin:0;padding:0;box-sizing: border-box;}

$font-nanum: 'Nanum Gothic', sans-serif;

html,body{
    font-family: $font-nanum;
}
table{
    width: 100%;
    border-collapse: collapse;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
.t-center{text-align: center !important}
.t-right{text-align: right !important}
.hide{display: none;}

.publish-title{
    display: flex;
    align-items: center;
    justify-content: center;

    > label{
        font-size: 17px;
        font-weight: bold;
        font-family: sans-serif;
        color: #666;
    }
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px -2px #cecece;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;

    > span{
        font-size: 14px;
        font-weight: 400;
        color: #555;
        vertical-align: 2px;
        margin-left: 10px;
    }
}
.publish{
    width: 800px;
    padding: 10px 20px 50px 20px;


    margin: 0 auto;
    margin-top: 45px;
}
.file-table{
    tr td{
        padding: 7px 10px;
        font-size: 14px;
        border-bottom: 1px solid #eee;

        &:first-child{
            padding-left: 3px;
        }
        &:last-child{
            padding-right: 3px;
        }
    }

    tr:hover{
        td{
            background-color: #f6f6f6;
        }
    }

    tr.folders{
        cursor: pointer;
        td:first-child{
            text-align: center;
            img{
                vertical-align: -3px;
            }
        }
        td.folder-name{
            font-size: 14px;
            font-weight: bold;
            color: #666;
            padding-left: 0;
        }

        &.prev-folder{
            letter-spacing: 2px;
        }
    }

    tr.files{
        cursor: pointer;
        td{
            font-size: 13px;
        }
        td.file-name{
            line-height: 19px;
            padding-left: 0;
            img{
                vertical-align: -1px;
            }
        }
        td.file-name.last-page a{
            color: #1a64ba;
            font-weight: bold;

        }
        td.file-size{
            text-align: right;
            font-size: 12px;
        }
        td.date{
            font-size: 12px;
            text-align: right;
        }
    }

}

.refresh{
    display: none;
}

@media (max-width: 767px){
    .publish-title{
        flex-wrap: wrap;;
        justify-content: space-between;
        padding: 15px 45px 15px 10px;

        label{
            display: block;
            width: 100%;
        }
        .path{
            display: block;
            width: 100%;
            margin-left: 0;
        }
        .refresh{
            position: absolute;
            top: 24px;
            right: 20px;
            display: inline;
        }
    }
    .publish{
        width: 100%;
        margin-top: 65px;
    }

    .file-table{
        td.date,
        td.file-size{
            display: none;
        }
    }
}
