@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 300;
   src: url(/fonts/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 350;
   src: url(/fonts/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(/fonts/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(/fonts/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Noto Sans KR', sans-serif;
}